.create-btn {
    min-width: 350px;
}

.create-btn > button {
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 300ms ease-in-out;
}

.create-btn > button:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.input-name-section {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    gap: 10px;
}

.input-name-section > label {
    font-size: 1rem;
}

.input-name-section > input {
    font-size: 1rem;
    padding: 5px 10px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    font-family: inherit;
}

.input-name-section > input::placeholder {
    font-weight: 400;
    font-family: inherit;
}

.input-name-section > .btn {
    display: flex;
    gap: 10px;
}

.input-name-section > .btn > button {
    width: 50%;
    border: 1px solid transparent;
    padding: 10px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: white;
    border-radius: 3px;
    transition: 300ms ease-in-out;
}

.input-name-section > .btn > button:hover{
    transition: 300ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}